extends layout

block content
  header
  .logo Countdown Party
  input(type='text', name='datepicker', class='datepicker', placeholder='Pick a date')
  input(type='text', name='timepicker', class='timepicker', placeholder='Pick a time')