extends layout

block content
  .logo Countdown Party
  form.ui.large.form.segment(action='/countdown', method="post")
    .field.input.ui.huge
      input(type='text', name='eventname', class='event', placeholder='Name of your event')
    .two.fields
      .date.field.input.ui.huge
        label
        input(type='text', name='datepicker', class='datepicker', placeholder='Pick a date')
      .field.icon.input.ui.huge
        label
        input(type='text', name='timepicker', class='timepicker', placeholder='Pick a time')
        i.time.icon
    .fluid.ui.blue.submit.button.huge Count Down
    .ui.error.message
  footer
    span Cobbled together by
      a(href='http://www.twitter.com/jdaudier' target= '_BLANK') Joanne