extends layout

block content
  h1.logo Countdown Party
    include clock-icon.html
    svg.icon.is-x10(viewbox='0 0 32 32')
      use(xlink:href='#clock-icon')
  form.ui.large.form.segment(action='/start')
    .field.input.ui.huge
      input(type='text', name='eventname', placeholder='Name of your event')
    .two.fields
      .date.field.input.ui.huge
        label
        input(type='text', name='datepicker', class='datepicker', placeholder='Pick a date')
      .field.icon.input.ui.huge
        label
        input(type='text', name='timepicker', class='timepicker', placeholder='Pick a time')
        i.time.icon
    .field.input.ui.huge
        input(type='url', name='eventurl', class='eventurl', placeholder='Link to the event (optional)')
    .fluid.ui.blue.submit.button.huge Count Down
    .ui.error.message