doctype html
html
  head
    meta(charset='utf-8')
    meta(http-equiv='X-UA-Compatible', content='IE=edge')
    title= title
    meta(name='description', content='Countdown Party is a countdown timer to any date.')
    meta(name='viewport', content='width=device-width, initial-scale=1')
    link(rel='stylesheet', href='http://fonts.googleapis.com/css?family=Codystar|Open+Sans:400,300,800,700|Sacramento', type='text/css')
    link(rel='stylesheet', href='/bower_components/pickadate/lib/themes/default.css')
    link(rel='stylesheet', href='/bower_components/pickadate/lib/themes/default.date.css')
    link(rel='stylesheet', href='/bower_components/pickadate/lib/themes/default.time.css')
    link(rel='stylesheet', href='/stylesheets/semantic.min.css')
    link(rel='stylesheet', href='/stylesheets/odometer-theme-minimal.css')
    link(rel='stylesheet', href='/stylesheets/style.css')
    include ga.html

  body
    header
    block content
    script(src='/bower_components/jquery/dist/jquery.min.js')
    script(src='/bower_components/pickadate/lib/picker.js')
    script(src='/bower_components/pickadate/lib/picker.date.js')
    script(src='/bower_components/pickadate/lib/picker.time.js')
    script(src='/bower_components/pickadate/lib/legacy.js')
    script(src='/javascripts/odometer.min.js')
    script(src='/javascripts/semantic.min.js')
    script(src='/javascripts/main.js')
    footer
      span Cobbled together by
        a(href='https://github.com/jdaudier/countdown-party', target= '_blank') Joanne
        | . Pattern from
        a(href='http://thepatternlibrary.com/#bunting-flag', target= '_blank') The Amazing Pattern Library
        | .
      div I
        span.heart &hearts;
        a(href='http://selz.co/1fg67cs', target= '_blank') donations
        | .