doctype html
html
  head
    title= title
    link(rel='stylesheet', href='http://fonts.googleapis.com/css?family=Sacramento', type='text/css')
    link(rel='stylesheet', href='pickadate/lib/themes/default.css')
    link(rel='stylesheet', href='pickadate/lib/themes/default.date.css')
    link(rel='stylesheet', href='pickadate/lib/themes/default.time.css')
    link(rel='stylesheet', href='stylesheets/semantic.min.css')
    link(rel='stylesheet', href='stylesheets/style.css')
  body
    block content
    script(src="jquery/dist/jquery.min.js")
    script(src="pickadate/lib/picker.js")
    script(src="pickadate/lib/picker.date.js")
    script(src="pickadate/lib/picker.time.js")
    script(src="pickadate/lib/legacy.js")
    script(src="javascripts/semantic.min.js")
    script(src="javascripts/main.js")