$light-blue = #E9FAFE
$gold = #FCBD55
$aqua = #00B7FF

*, *:before, *:after
  -moz-box-sizing border-box
  -webkit-box-sizing border-box
  box-sizing border-box

body
  font .9em 'Open Sans', sans-serif
  margin 0
  padding-bottom 2em
  background $light-blue

a
  color $aqua

header
  height 200px
  background url('/images/bunting-flag.png') repeat-x

.logo
  font 60px 'Sacramento', cursive;
  color slategray
  text-align center
  background white
  padding .25em 0
  box-shadow 0 0 0 1px rgba(0,0,0,.1)
  max-width 650px
  margin 0 auto
  border-radius 5px

.ui.form
  max-width 650px
  margin 2em auto

.ui.segment
  padding 2em

.ui.form .field>label
  margin-bottom 0

.ui.form .date.field > label:after
  top .75em

footer
  padding-top 1.5em
  text-align center
  color slategray
  font-weight 300

footer a
  margin-left .5em
  text-decoration none

footer a:hover
  text-decoration underline

.eventname
  font-size .45em
  font-family 'Codystar', cursive
  letter-spacing .15em

.ui.top.attached.center.aligned.segment
  margin-top 2em

.ui.center.segment
  max-width 650px
  margin 0 auto

.ui.blue.circular.huge.label
  font-size 2em
  margin-right 1em

.unit
  text-transform uppercase
  font-size 2em
  font-weight 800
  color slategray
  vertical-align middle

.reset
  max-width 650px
  margin 0 auto
  text-align right

.hidden
  visibility hidden
  float left

.ui.form .picker__header
  margin-top .75em